body {
	font: 0.75em Helvetica, sans-serif;
	width: 60%;
	margin: 40px auto 60px auto;
	padding: 0;
}

#container {
  border: 1px solid #000;
}

h1 {
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 2px;
	/*border-bottom: 1px solid #000;*/
}

h2 {
	font-size: 1.25em;
	font-weight: lighter;
}

.fruitBar {
  border-bottom: 1px solid #000;
}
.fruitGrid li{
  display: inline-block;
}
.fruitBox {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000;
  margin-left: 5px;
}
.fruitBox img{
	width: 100px;
	height: 100px;
}

.grapeColor {
	opacity: .5;
  background-color: purple;
}

.appleColor {
	opacity: .5;
  background-color: red;
}

.bananaColor {
	opacity: .5;
  background-color: yellow;
}

.orangeColor {
	opacity: .5;
  background-color: orange;
}

.grapeColor:hover {
	opacity: 1;
  background-color: purple;
}

.appleColor:hover {
	opacity: 1;
  background-color: red;
}

.bananaColor:hover {
	opacity: 1;
  background-color: yellow;
}

.orangeColor:hover {
	opacity: 1;
  background-color: orange;
}

.colorHighlight{
	background-color: burlywood;
}

.underline {
  border-bottom: 1px solid #8C001A;
}
.playerInventory li{
	display: inline-block;
}
